* {
     margin: 0;
     font-family: arial;
     border: border-box;


}

h1 {
     color: white;
     text-align: center;
     position: absolute;
     top: 40%;
     left: 13%;
     font-size: 70px;
     transition: all;
     transition-duration: 2s;
     animation: sizeAnimate 1s ease-in 0s 1 normal ;
 

}
@keyframes sizeAnimate{
     from{font-size: 20px;}
     to{font-size:70px ;}
}


#h1:hover {
     font-size: 80;
}
@keyframes sizeAnimate2{
     from{font-size: 10px;}
     to{font-size: 29px ;}
}

h2 {
     color: rgb(00, gr00een, rgb(5, 5, 60));
     position: absolute;
     top: 53%;
     left: 10%;
     font-size: 29px;
     font-family: times new roman;
     transition: all;
     animation: sizeAnimate2 1s steps() 0s 1 normal ;
 


}

#box1 {
     background-color: rgb(00, 00, rgb(13, 13, 229));
     position: absolute;
     top: 62%;
     left: 20%;
     font-size: 32px;
     background: linear-gradient(to right, rgb(92, 126, 229), rgb(8, 149, 188));
     color: rgb(246, 242, 242);
     border-radius: 18%;
     font-family: sans-serif;
     transition-property: all;
     transition-duration: .5s;
     transition-timing-function: ease;
}

#box1:hover {
     background: linear-gradient(to right, rgb(92, 126, 229), rgb(8, 149, 188));
   
     font-size: 37px;

}

body {
     background-image: url("images/Start12.png");
     background-size: cover;
}