

#box1{
    position: absolute;
    height: 150px;
    width: 240px;
    top: 139px;
    left: 100px;
    border-radius: 20px;
    font-size: 25px;
    color: rgb(13, 12, 12);
    font-family: 'Courier New', Courier, monospace;
    border-width: 5px;
    align-content: bottom;
    background-color: rgb(87, 146, 192);
    transition-property:all ;
    transition-duration: .5s;
}

#box1:hover{
    background-color: rgb(75, 129, 169);
    

}
#box2{
    position: absolute;
    height: 150px;
    width: 240px;
    top: 350px;
    left: 100px;
    border-radius: 20px;
    font-size: 25px;
    color: rgb(14, 13, 13);
    background-color: rgb(87, 146, 192);
    font-family: 'Courier New', Courier, monospace;
    border-width: 5px;
   
}
#box2:hover{
    background-color: rgb(67, 119, 158);

}
body{

    background-image: url("images/page2.png");
    
    background-size: cover;
}

.a{
    position: absolute;
    top: 148px;
    left: 196px;
    font-size: 30px;
}
.b{
    position: absolute;
    top: 368px;
    left: 196px;
    font-size:30px ;

}