<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergix -Your
                     Emergency 
                          Solution</title>
    <link rel="stylesheet" href="/static/1stpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    
            <div> EMERGIX</div>
            <h1>Your</h1>
            <h2>Emergency</h2>
            <h3>Solution</h3>
            <a href="/login"><button>Next</button></a>
        </div>
        
    </div>
</body>
</html>