<!DOCTYPE html>
<html>
<head>
    <title>Hospital Bed Availability</title>
    <link rel="stylesheet" href="/static/2ndpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <a href="/hospital_management">  <button id="box1">
            Availabilities of beds
        </button>
    </a>
    <button id="box2">
        medical stocks
    </button>
    <div class="a">
        <i class="fa-solid fa-bed"></i>
    </div>
    <div class="b">
        <i class="fa-solid fa-suitcase-medical"></i>
    </div>
</body>
</html>