<!DOCTYPE html>
<html>
<head>
    <title>Hospital Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='3rdpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <h1>{{ hospital.name }}</h1>
    <h3>Beds:</h3>
    <ul>
        {% for bed in hospital.beds %}
            <li>{{ bed.bed_type }} - {% if bed.available %}Available{% else %}Booked {% endif %}
                {% if bed.available and session.get('user_id') %}
                    <form method="POST" action="{{ url_for('book_bed', bed_id=bed.id) }}">
                        <button>Book</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if session.get('is_management') %}
        <a href="{{ url_for('add_beds', hospital_id=hospital.id) }}">Add Beds</a>
    {% endif %}

</body>
</html>